{% extends 'main/head-template.html' %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/flight-airport-create.css' %}">
{% endblock %}
{% block title %}Добавить аэропорт{% endblock %}
{% block content %}
    {% include 'main/header.html' %}
    <section id="main-content">
        <h1>Добавить аэропорт</h1>
        <form action="{% url 'main:create_airport' %}" method="post">
            {% csrf_token %}
            {{ airport_form.as_p }}
            <button type="submit">Добавить</button>
        </form>
        <a href="{% url 'main:create_flight' %}">Добавить рейс</a>
    </section>
    {% if error_message %}
        <p class="errors-notification">{{ error_message }}</p>
    {% endif %}
{% endblock %}