{% extends 'main/head-template.html' %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/flight-airport-create.css' %}">
    <link rel="stylesheet" href="{% static 'css/book_ticket.css' %}">
{% endblock %}
{% block title %}Бронирование билета{% endblock %}
{% block content %}
    {% include 'main/header.html' %}
    <section id="main-content">
        <h1>Бронирование билета</h1>
        <form method="POST">
            {% csrf_token %}
            <label for="passengers" class="booking-label">Пассажиры:</label>
            {% for passenger in passengers %}
                <p class="passengers-choice">
                    <input type="checkbox" name="passengers" value="{{ passenger.id }}" id="passenger_{{ passenger.id }}">
                    <label for="passenger_{{ passenger.id }}">{{ passenger.full_name }}</label>
                </p>
            {% endfor %}
            <p>
                <label for="class_choice" class="booking-label">Класс обслуживания:</label>
                <select name="class_choice" id="class_choice">
                    {% for choice in class_choices %}
                        <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                    {% endfor %}
                </select>
            </p>
            <p class="luggage-choice">
                <label for="luggage" class="booking-label">Багаж:</label>
                <input type="checkbox" name="luggage" id="luggage">
            </p>

            <button type="submit">Забронировать</button>
        </form>
        <h1>Цены</h1>
        <section id="class-price-list">
            <div class="class-price-info">
                <p>Эконом класс</p>
                {% if class_prices.economy.ticket_price > 0 %}
                    <p>Билет: {{ class_prices.economy.ticket_price|floatformat:0 }}</p>
                    <p>Багаж: {{ class_prices.economy.luggage_price|floatformat:0 }}</p>
                {% else %}
                    <p>Недоступно</p>
                {% endif %}
            </div>
            <div class="class-price-info">
                <p>Комфорт класс</p>
                {% if class_prices.comfort.ticket_price > 0 %}
                    <p>Билет: {{ class_prices.comfort.ticket_price|floatformat:0 }}</p>
                    <p>Багаж: {{ class_prices.comfort.luggage_price|floatformat:0 }}</p>
                {% else %}
                    <p>Недоступно</p>
                {% endif %}
            </div>
            <div class="class-price-info">
                <p>Бизнес класс</p>
                {% if class_prices.business.ticket_price > 0 %}
                    <p>Билет: {{ class_prices.business.ticket_price|floatformat:0 }}</p>
                    <p>Багаж: {{ class_prices.business.luggage_price|floatformat:0 }}</p>
                {% else %}
                    <p>Недоступно</p>
                {% endif %}
            </div>
            <div class="class-price-info">
                <p>Первый класс</p>
                {% if class_prices.first_class.ticket_price > 0 %}
                    <p>Билет: {{ class_prices.first_class.ticket_price|floatformat:0 }}</p>
                    <p>Багаж: {{ class_prices.first_class.luggage_price|floatformat:0 }}</p>
                {% else %}
                    <p>Недоступно</p>
                {% endif %}
            </div>
        </section>
    </section>
    {% if error_message %}
        <p class="errors-notification">{{ error_message }}</p>
    {% endif %}
</body>
{% endblock %}