<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmation</title>
</head>
<body>
    <h1>Booking Confirmation</h1>
    <form method="post">
        {% csrf_token %}
        {% for passenger_id in passenger_ids %}
            <input type="hidden" name="passenger_ids" value="{{ passenger_id }}">
        {% endfor %}
        <button type="submit">Confirm Tickets for Selected Passengers</button>
    </form>

</body>
</html>
