{% extends 'main/head-template.html' %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
{% endblock %}
{% block title %}SkyBooker{% endblock %}
{% block content %}
    {% include 'main/header.html' %}
    <section id="main-content">
        <form id="flights-search-form" method="GET" action="{% url 'main:flight_search' %}">
            <div class="search-container">
                <input type="search" id="from-input" name="departure_city" placeholder="Откуда" value="{{ departure_city }}" required>
                <ul class="cities-list" id="from-cities-list">
                    {% for city in cities %}
                        <li>{{ city }}</li>
                    {% endfor %}
                </ul>
            </div>

            <div class="search-container">
                <input type="search" id="to-input" name="arrival_city" placeholder="Куда" value="{{ arrival_city }}" required>
                <ul class="cities-list" id="to-cities-list">
                    {% for city in cities %}
                        <li>{{ city }}</li>
                    {% endfor %}
                </ul>
            </div>

            <input type="text" id="datepicker" name="departure_date" placeholder="Когда" value="{{ departure_date }}">
            <div id="passengers-number-choice">
                <div class="dropdown-button">1 пассажир</div>
                <ul class="dropdown-list">
                    <li data-value="1">1 пассажир</li>
                    <li data-value="2">2 пассажира</li>
                    <li data-value="3">3 пассажира</li>
                    <li data-value="4">4 пассажира</li>
                    <li data-value="5">5 пассажиров</li>
                    <li data-value="6">6 пассажиров</li>
                    <li data-value="7">7 пассажиров</li>
                    <li data-value="8">8 пассажиров</li>
                    <li data-value="9">9 пассажиров</li>
                    <li data-value="10">10 пассажиров</li>
                </ul>
                <input type="hidden" id="passengers-number-input" name="number_of_passengers" value="1">
            </div>

            <div id="service-class-choice">
                <div class="dropdown-button">Эконом</div>
                <ul class="dropdown-list">
                    <li data-value="economy">Эконом</li>
                    <li data-value="comfort">Комфорт</li>
                    <li data-value="business">Бизнес</li>
                    <li data-value="first_class">Первый класс</li>
                </ul>
                <input type="hidden" id="service-class-input" name="service_class" value="economy">
            </div>

            <button id="find-tickets" type="submit">Найти билеты</button>
        </form>
        <div id="search-filters">
            <p id="filters-label">Фильтры поиска</p>
            <ul id="filter-list">
                <li class="filter-option">
                    <p class="filter-name">Авиакомпания</p>
                    <ul class="options-list" id="airline-filters"></ul>
                </li>
                <li class="filter-option">
                    <p class="filter-name">Стоимость</p>
                    <ul class="options-list">
                        <div id="from-filter-container">
                            <label for="price-from">От</label>
                            <input type="number" id="price-from" name="price-from">
                        </div>
                        <div id="to-filter-container">
                            <label for="price-to">До</label>
                            <input type="number" id="price-to" name="price-to">
                        </div>
                    </ul>
                </li>
                <li class="filter-option">
                    <p class="filter-name">Аэропорт отбытия</p>
                    <ul class="options-list" id="departure-filters"></ul>
                </li>
                <li class="filter-option">
                    <p class="filter-name">Аэропорт прибытия</p>
                    <ul class="options-list" id="arrival-filters"></ul>
                </li>
                <li class="filter-option">
                    <p class="filter-name">Сортировка</p>
                    <ul class="options-list">
                        <li>
                            <input type="radio" id="sort-price" name="sort-option" value="price">
                            <label for="sort-price">Дешевые</label>
                        </li>
                        <li>
                            <input type="radio" id="sort-time" name="sort-option" value="time">
                            <label for="sort-time">Время вылета</label>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <section id="tickets-list">
            <!--{{ Flight.objects.all }}
            {% for flight in flights_temp %}
                {% include 'main/ticket.html' with flight=flight %}
            {% endfor %}-->

            
            {% for flight in flights %}
                {% for flight_class_info in flight.flightclassinfo_set.all %}
                    {% if flight_class_info.service_class == request.session.service_class %}
                        {% include 'main/ticket.html' with flight=flight flight_class_info=flight_class_info %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
            
        </section>
    </section>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const dropdownButtons = document.querySelectorAll('.dropdown-button');
            const dropdownLists = document.querySelectorAll('.dropdown-list');

            dropdownButtons.forEach(function(button, index) {
                button.addEventListener('click', function(event) {
                    const dropdownList = dropdownLists[index];
                    dropdownList.classList.toggle('show');
                    event.stopPropagation();
                });
            });

            document.addEventListener('click', function(event) {
                dropdownLists.forEach(function(list) {
                    if (!list.contains(event.target)) {
                        list.classList.remove('show');
                    }
                });
            });
        });
    </script>
    <script>
    flatpickr("#datepicker", {
        dateFormat: "Y-m-d",
        altInput: true,
        altFormat: "F j, Y",
    });
</script>
    <script src="{% static 'js/city-search.js' %}"></script>
    <script>
        const airlines = ['Airline A', 'Airline B', 'Airline C', 'Airline D'];
        const departureAirports = ['Airport X', 'Airport Y', 'Airport Z'];
        const arrivalAirports = ['Airport A', 'Airport B', 'Airport C'];
        function generateCheckboxes(list, containerId) {
            const container = document.getElementById(containerId);
            container.innerHTML = '';
            list.forEach(function(item) {
                const listItem = document.createElement('li');
                const checkbox = document.createElement('input');
                checkbox.type = 'checkbox';
                checkbox.value = item;
                checkbox.id = item.replace(/\s+/g, '');
                const label = document.createElement('label');
                label.htmlFor = checkbox.id;
                label.textContent = item;
                listItem.appendChild(checkbox);
                listItem.appendChild(label);
                container.appendChild(listItem);
            });
        }
        generateCheckboxes(airlines, 'airline-filters');
        generateCheckboxes(departureAirports, 'departure-filters');
        generateCheckboxes(arrivalAirports, 'arrival-filters');

    </script>
    <script>
        const fromInput = document.getElementById('from-input');
        const fromCitiesList = document.getElementById('from-cities-list');

        fromCitiesList.addEventListener('click', function(event) {
            if (event.target.tagName === 'LI') {
                fromInput.value = event.target.textContent;
                fromCitiesList.classList.remove('show');
                }
            });
    </script>
    <script>
        const toInput = document.getElementById('to-input');
        const toCitiesList = document.getElementById('to-cities-list');

        toCitiesList.addEventListener('click', function(event) {
            if (event.target.tagName === 'LI') {
                toInput.value = event.target.textContent;
                toCitiesList.classList.remove('show');
                }
            });
    </script>
    <script>
        const passengersNumberButton = document.querySelector('#passengers-number-choice .dropdown-button');
        const passengersNumberList = document.querySelector('#passengers-number-choice .dropdown-list');
        const passengersNumberInput = document.getElementById('passengers-number-input');

        passengersNumberList.addEventListener('click', function(event) {
            if (event.target.tagName === 'LI') {
                passengersNumberButton.textContent = event.target.textContent;
                passengersNumberInput.value = event.target.dataset.value;
                passengersNumberList.classList.remove('show');
            }
        });
    </script>
    <script>
        const serviceClassButton = document.querySelector('#service-class-choice .dropdown-button');
        const serviceClassList = document.querySelector('#service-class-choice .dropdown-list');
        const serviceClassInput = document.getElementById('service-class-input');

        serviceClassList.addEventListener('click', function(event) {
            if (event.target.tagName === 'LI') {
                serviceClassButton.textContent = event.target.textContent;
                serviceClassInput.value = event.target.dataset.value;
                serviceClassList.classList.remove('show');
            }
        });
    </script>
{% endblock %}