{% extends 'main/head-template.html' %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
{% endblock %}
{% block title %}SkyBooker{% endblock %}
{% block content %}
    {% include 'main/header.html' %}
    <section id="main-content">
        <div id="flights-search">
            <div class="search-container">
                <input type="search" id="from-input" placeholder="Откуда">
                <ul class="cities-list" id="from-cities-list">
                    <li>Москва</li>
                    <li>Питер</li>
                    <li>Екб</li>
                    <li>Хз</li>
                    <li>Какие еще города есть</li>
                    <li>Лондон</li>
                    <li>Паришь</li>
                    <li>9 общага</li>
                    <li>Хз х2</li>
                    <li>Монетка</li>
                    <li>ртф чемпион</li>
                    <li>я больше нигде не была</li>
                    <li>в париже и лондоне тоже не была так-то</li>
                </ul>
            </div>
            
            <div class="search-container">
                <input type="search" id="to-input" placeholder="Куда">
                <ul class="cities-list" id="to-cities-list">
                    <li>Москва</li>
                    <li>Питер</li>
                    <li>Екб</li>
                    <li>Хз</li>
                    <li>Какие еще города есть</li>
                    <li>Лондон</li>
                    <li>Паришь</li>
                    <li>9 общага</li>
                    <li>Хз х2</li>
                    <li>Монетка</li>
                    <li>ртф чемпион</li>
                    <li>я больше нигде не была</li>
                    <li>в париже и лондоне тоже не была так-то</li>
                </ul>
            </div>
            <input type="text" id="datepicker" placeholder="Когда">
            <div id="passengers-number-choice">
                <div class="dropdown-button">1 пассажир</div>
                <ul class="dropdown-list">
                    <li>1 пассажир</li>
                    <li>2 пассажира</li>
                    <li>3 пассажира</li>
                    <li>4 пассажира</li>
                    <li>5 пассажиров</li>
                    <li>6 пассажиров</li>
                    <li>7 пассажиров</li>
                    <li>8 пассажиров</li>
                    <li>9 пассажиров</li>
                    <li>10 пассажиров</li>
                </ul>
            </div>
            <div id="service-class-choice">
                <div class="dropdown-button">Эконом</div>
                <ul class="dropdown-list">
                    <li>Эконом</li>
                    <li>Комфорт</li>
                    <li>Бизнес</li>
                    <li>Первый класс</li>
                </ul>
            </div>
            <button id="find-tickets">Найти билеты</button>
        </div>
        <div id="search-filters">
            <p id="filters-label">Фильтры поиска</p>
            <ul id="filter-list">
                <li class="filter-option">
                    <p class="filter-name">Авиакомпания</p>
                    <ul class="options-list" id="airline-filters"></ul>
                </li>
                <li class="filter-option">
                    <p class="filter-name">Стоимость</p>
                    <ul class="options-list">
                        <div id="from-filter-container">
                            <label for="price-from">От</label>
                            <input type="number" id="price-from" name="price-from">
                        </div>
                        <div id="to-filter-container">
                            <label for="price-to">До</label>
                            <input type="number" id="price-to" name="price-to">
                        </div>
                    </ul>
                </li>
                <li class="filter-option">
                    <p class="filter-name">Аэропорт отбытия</p>
                    <ul class="options-list" id="departure-filters"></ul>
                </li>
                <li class="filter-option">
                    <p class="filter-name">Аэропорт прибытия</p>
                    <ul class="options-list" id="arrival-filters"></ul>
                </li>
                <li class="filter-option">
                    <p class="filter-name">Сортировка</p>
                    <ul class="options-list">
                        <li>
                            <input type="radio" id="sort-price" name="sort-option" value="price">
                            <label for="sort-price">Дешевые</label>
                        </li>
                        <li>
                            <input type="radio" id="sort-time" name="sort-option" value="time">
                            <label for="sort-time">Время вылета</label>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <section id="tickets-list">
            <!-- здесь через цикл отображаются билеты, эти по фану здесь, удали -->
            {% include 'main/ticket.html' %}
            {% include 'main/ticket.html' %}
            {% include 'main/ticket.html' %}
        </section>
    </section>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const dropdownButtons = document.querySelectorAll('.dropdown-button');
            const dropdownLists = document.querySelectorAll('.dropdown-list');

            dropdownButtons.forEach(function(button, index) {
                button.addEventListener('click', function(event) {
                    const dropdownList = dropdownLists[index];
                    dropdownList.classList.toggle('show');
                    event.stopPropagation();
                });
            });

            document.addEventListener('click', function(event) {
                dropdownLists.forEach(function(list) {
                    if (!list.contains(event.target)) {
                        list.classList.remove('show');
                    }
                });
            });
        });
    </script>
    <script>
        flatpickr("#datepicker", {
          dateFormat: "Y-m-d",
          altInput: true,
          altFormat: "F j, Y",
        });
      </script>
      <script src="{% static 'js/city-search.js' %}"></script>
    <script>
        const airlines = ['Airline A', 'Airline B', 'Airline C', 'Airline D'];
        const departureAirports = ['Airport X', 'Airport Y', 'Airport Z'];
        const arrivalAirports = ['Airport A', 'Airport B', 'Airport C'];
        function generateCheckboxes(list, containerId) {
            const container = document.getElementById(containerId);
            container.innerHTML = '';
            list.forEach(function(item) {
                const listItem = document.createElement('li');
                const checkbox = document.createElement('input');
                checkbox.type = 'checkbox';
                checkbox.value = item;
                checkbox.id = item.replace(/\s+/g, '');
                const label = document.createElement('label');
                label.htmlFor = checkbox.id;
                label.textContent = item;
                listItem.appendChild(checkbox);
                listItem.appendChild(label);
                container.appendChild(listItem);
            });
        }
        generateCheckboxes(airlines, 'airline-filters');
        generateCheckboxes(departureAirports, 'departure-filters');
        generateCheckboxes(arrivalAirports, 'arrival-filters');

    </script>
{% endblock %}