{% extends 'main/head-template.html' %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}
{% block title %}Профиль{% endblock %}
{% block content %}
    {% include 'main/header.html' %}
    <section id="main-content">
        <div id="user-info">
            <ul id="user-characteristics">
                <li class="user-characteristic">
                    <p class="profile-characteristic-name">Пользователь:</p>
                    <p class="profile-characteristic-value">{{ user.username }}</p>
                </li>
                <li class="user-characteristic">
                    <p class="profile-characteristic-name">Почта:</p>
                    <div class="profile-user-email">
                        <input id="user-email" type="text" placeholder="{{ user.email }}">
                    </div>
                </li>
            </ul>
            <button id="save-user-info">Сохранить</button>
        </div>
        <div id="profile-passengers-info">
            <div id="passengers-buttons">
                <button id="open-passengers-list">Пассажиры</button>
                <button id="profile-add-passenger"><img src="{% static 'img/add-passenger.svg' %}"></button>
            </div>
            <form action="{% url 'main:add_passenger' %}" id="add-passenger-form" method="post" style="display: none;">
                {% csrf_token %}
                <ul class="passenger-characteristics">
                    <li class="passenger-characteristic">
                        <label for="full_name">ФИО:</label>
                        <input type="text" id="full_name" name="full_name" placeholder="Введите текст" required>
                    </li>
                    <li class="passenger-characteristic">
                        <label for="gender">Пол:</label>
                        <select id="gender" name="gender" required>
                            <option value="M">Мужской</option>
                            <option value="F">Женский</option>
                        </select>
                    </li>
                    <li class="passenger-characteristic">
                        <label for="date_of_birth">Дата рождения:</label>
                        <input type="date" id="date_of_birth" name="date_of_birth" required>
                    </li>
                    <li class="passenger-characteristic">
                        <label for="passport_number">Номер паспорта:</label>
                        <input type="text" id="passport_number" name="passport_number" placeholder="Введите номер" required>
                    </li>
                </ul>
                <button type="submit">Добавить пассажира</button>
            </form>
            <ul id="profile-passengers-list" style="display: none;">
                {% for passenger in user.passengers.all %}
                    <li class="profile-passenger-info">{% include 'main/passenger-card.html' %}</li>
                {% empty %}
                    <li>No passengers added yet.</li>
                {% endfor %}
            </ul>
        </div>
    </section>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const openPassengersListBtn = document.getElementById('open-passengers-list');
            const profileAddPassengerBtn = document.getElementById('profile-add-passenger');
            const addPassengerForm = document.getElementById('add-passenger-form');
            const profilePassengersList = document.getElementById('profile-passengers-list');

            openPassengersListBtn.addEventListener('click', function() {
                if (profilePassengersList.style.display === 'none'){
                    profilePassengersList.style.display = 'flex';
                    profileAddPassengerBtn.style.display = 'block';
                } else {
                    addPassengerForm.style.display = 'none'
                    profilePassengersList.style.display = 'none';
                    profileAddPassengerBtn.style.display = 'none';
                }
            });

            profileAddPassengerBtn.addEventListener('click', function() {
                if (addPassengerForm.style.display === 'none'){
                    addPassengerForm.style.display = 'flex';
                } else {
                    addPassengerForm.style.display = 'none'
                }
            });
        });
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
        $(document).on('click', '.delete-passenger-button', function() {
            var passengerId = $(this).data('passenger-id');
            if (confirm('Удалить пассажира?')) {
                $.ajax({
                    url: '/delete-passenger/' + passengerId + '/',
                    type: 'POST',
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    },
                    success: function(response) {
                        console.log('Passenger deleted successfully');
                        location.reload();
                    },
                    error: function(xhr, status, error) {
                        console.error('Error deleting passenger:', error);
                    }
                });
            }
        });
    });
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            document.getElementById('add-passenger-form').addEventListener('submit', function (event) {
                event.preventDefault();
                var form = this;
                $.ajax({
                    url: form.action,
                    type: form.method,
                    data: $(form).serialize(),
                    success: function (response) {
                        console.log('Passenger added successfully');
                        window.location.href = '{% url "main:profile" %}';
                    },
                    error: function (xhr, status, error) {
                        console.error('Error adding passenger:', error);
                    }
                });
            });
        });
    </script>
    <script>
        $(document).ready(function() {
            $('#save-user-info').click(function() {
                var newEmail = $('#user-email').val();
                var csrftoken = getCookie('csrftoken');
                $.ajax({
                    url: '/update-email/',
                    type: 'POST',
                    data: {
                        'email': newEmail,
                        'csrfmiddlewaretoken': csrftoken
                    },
                    success: function(response) {
                        console.log('Email updated successfully');
                        location.reload();
                    },
                    error: function(xhr, status, error) {
                        console.error('Error updating email:', error);
                    }
                });
            });
        });
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
    </script>
{% endblock %}
