{% extends 'main/head-template.html' %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}
{% block title %}Профиль{% endblock %}
{% block content %}
    {% include 'main/header.html' %}
    <section id="main-content">
        <div id="user-info">
            <ul id="user-characteristics">
                <li class="user-characteristic">
                    <p class="profile-characteristic-name">Пользователь:</p>
                    <p class="profile-characteristic-value">{{ user.username }}</p>
                </li>
                <li class="user-characteristic">
                    <p class="profile-characteristic-name">Почта:</p>
                    <div class="profile-user-email">
                        <input id="user-email" type="text" placeholder="{{ user.email }}">
                    </div>
                </li>
            </ul>
            <button id="save-user-info">Сохранить</button>
        </div>
        <div id="profile-passengers-info">
            <div id="passengers-buttons">
                <button id="open-passengers-list">Пассажиры</button>
                <button id="profile-add-passenger"><img src="{% static 'img/add-passenger.svg' %}"></button>
            </div>
            <form action="{% url 'main:add_passenger' %}" id="add-passenger-form" method="post">
                {% csrf_token %}
                <ul class="passenger-characteristics">
                    <li class="passenger-characteristic">
                        <label for="full_name">ФИО:</label>
                        <input type="text" id="full_name" name="full_name" placeholder="Введите текст" required>
                    </li>
                    <li class="passenger-characteristic">
                        <label for="gender">Пол:</label>
                        <select id="gender" name="gender" required>
                            <option value="M">Мужской</option>
                            <option value="F">Женский</option>
                            <option value="O">Other</option>
                        </select>
                    </li>
                    <li class="passenger-characteristic">
                        <label for="date_of_birth">Дата рождения:</label>
                        <input type="date" id="date_of_birth" name="date_of_birth" required>
                    </li>
                    <li class="passenger-characteristic">
                        <label for="passport_number">Номер паспорта:</label>
                        <input type="text" id="passport_number" name="passport_number" placeholder="Введите номер" required>
                    </li>
                </ul>
                <button type="submit">Добавить пассажира</button>
            </form>
            <ul id="profile-passengers-list">
                {% for passenger in user.passengers.all %}
                    <li class="profile-passenger-info">{% include 'main/passenger-card.html' %}</li>
                {% empty %}
                    <li>No passengers added yet.</li>
                {% endfor %}
            </ul>
        </div>
    </section>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const openPassengersListBtn = document.getElementById('open-passengers-list');
            const profileAddPassengerBtn = document.getElementById('profile-add-passenger');
            const addPassengerForm = document.getElementById('add-passenger-form');
            const profilePassengersList = document.getElementById('profile-passengers-list');

            const initialDisplayValues = {
                'profile-passengers-list': 'flex',
                'profile-add-passenger': 'block',
                'add-passenger-form': 'flex'
            };

            openPassengersListBtn.addEventListener('click', function() {
                toggleVisibility(profilePassengersList);
                toggleVisibility(profileAddPassengerBtn);
                toggleVisibility(addPassengerForm);
            });

            profileAddPassengerBtn.addEventListener('click', function() {
                toggleVisibility(addPassengerForm);
            });

            function toggleVisibility(element) {
                if (element.style.display === 'none') {
                    element.style.display = initialDisplayValues[element.id] || 'block';
                } else {
                    element.style.display = 'none';
                }
            }
        });
    </script>
{% endblock %}
