{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Профиль</title>
</head>
<body>
    {% include 'main/header.html' %}
    <div style="margin-top: 100px;">
        <h1>Профиль пользователя: {{ user.username }}</h1>
        <form action="{% url 'main:add_passenger' %}" method="post">
            {% csrf_token %}
            <label for="full_name">Full Name:</label>
            <input type="text" id="full_name" name="full_name" required>
            <label for="gender">Gender:</label>
            <select id="gender" name="gender" required>
                <option value="M">Male</option>
                <option value="F">Female</option>
                <option value="O">Other</option>
            </select>
            <label for="date_of_birth">Date of Birth:</label>
            <input type="date" id="date_of_birth" name="date_of_birth" required>
            <label for="passport_number">Passport Number:</label>
            <input type="text" id="passport_number" name="passport_number" required>
            <button type="submit">Add Passenger</button>
        </form>
        <h2>List of Passengers:</h2>
        <ul>
            {% for passenger in user.passengers.all %}
                <li>{{ passenger.full_name }}</li>
            {% empty %}
                <li>No passengers added yet.</li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
