<div class="ticket-card">
    <p class="ticket-airline">Авиакомпания Smartavia</p>
    <div class="ticket-time-info">
        <div class="ticket-departure-info">
            <span>Отправление</span>
            <p class="ticket-time">7:15</p>
            <p class="ticket-city-date">Екатеринбург<br>25.04</p>
        </div>
        <div class="ticket-travel-time-container">
            <span>Время в пути</span>
            <p class="ticket-time">2 ч 50 м</p>
        </div>
        <div class="ticket-arrival-info">
            <span>Прибытие</span>
            <p class="ticket-time">8:05</p>
            <p class="ticket-city-date">Санкт-Петербург<br>25.04</p>
        </div>
    </div>
    <div class="ticket-price-info">
        <div class="ticket-price">
            <span>Цена</span>
            <p class="ticket-price-value">12838</p>
        </div>
        <div class="ticket-luggage-price">
            <span>Багаж</span>
            <p class="ticket-price-value">2590</p>
        </div>
    </div>
    <button class="buy-ticket">Приобрести билет</button>
</div>