{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'css/ticket.css' %}">
</head>
-->
    <div class="ticket-card">
        <p class="ticket-airline">Авиакомпания {{ flight.airline }}</p>
        <div class="ticket-time-info">
            <div class="ticket-departure-info">
                <span>Отправление</span>
                <p class="ticket-time">{{ flight.departure_time|time:"H:i" }}</p>
                <p class="ticket-city-date">{{ flight.departure_airport.city }}<br>{{ flight.departure_time|date:"d.m" }}</p>
            </div>
            <div class="plane-container">
                <img src="{% static 'img/airplane.svg' %}" width="40px">
            </div>
            <div class="ticket-arrival-info">
                <span>Прибытие</span>
                <p class="ticket-time">{{ flight.arrival_time|time:"H:i" }}</p>
                <p class="ticket-city-date">{{ flight.arrival_airport.city }}<br>{{ flight.arrival_time|date:"d.m" }}</p>
            </div>
        </div>
        <div class="ticket-price-info">
            <div class="ticket-price">
                <span>Цена</span>
                <p class="ticket-price-value">{{ flight_class_info.ticket_price }}</p>
            </div>
            <div class="ticket-luggage-price">
                <span>Багаж</span>
                <p class="ticket-price-value">{{ flight_class_info.luggage_price }}</p>
            </div>
        </div>
        <a href="{% url 'main:book_ticket' flight.id %}" class="buy-ticket">Приобрести билет</a>
    </div>
