{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/authorization.css' %}">
    <title>SkyBooker</title>
</head>
<body>
    <div id="container">
        <div id="login-text">
            <h1>Вход</h1>
        </div>
        <form class="login-form" method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="form-group">
                <input type="text" class="form-input" placeholder=" " name="username" required>
                <span class="label-hover">Логин</span>
                <label class="form-label"><img src="{% static 'img/email.svg' %}">Введите логин...</label>
            </div>
            <div class="form-group">
                <div id="toggle-button">
                    <img src="{% static 'img/eye-closed.svg' %}" width="20px">
                </div>
                <input type="password" class="form-input" id="password-input" placeholder=" " name="password">
                <span class="label-hover">Пароль</span>
                <label class="form-label"><img src="{% static 'img/lock.svg' %}">Введите пароль...</label>
            </div>
            <button type="submit">Войти</button>
        </form>
    </div>
    {% if form.errors %}
        <div class="errors-notification">Аккаунт не найден. Проверьте введенные данные</div>
    {% endif %}
    <script>
        const passwordInput = document.getElementById("password-input");
        const toggleButton = document.getElementById("toggle-button");
        const icon = toggleButton.querySelector("img");
        toggleButton.addEventListener("click", function() {
            event.preventDefault();
            if (passwordInput.type === "password") {
                passwordInput.type = "text";
                icon.src = "{% static 'img/eye-opened.svg' %}";
            } else {
                passwordInput.type = "password";
                icon.src = "{% static 'img/eye-closed.svg' %}";
            }
        });
    </script>
    <script>
        const messageDivs = document.getElementsByClassName('errors-notification');
        function hideDiv() {
           for (let i = 0; i < messageDivs.length; i++) {
               messageDivs[i].style.display = 'none';
           }
        }
        setTimeout(hideDiv, 5000);
    </script>
</body>
</html>