#header{
    z-index: 1;
    height: 80px;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
    background-color: var(--blue-color);
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#authorization-buttons,
#profile-buttons{
    display: flex;
    gap: 10px;
}
#profile-buttons{
    gap: 50px;
}
#login-button,
#signup-button{
    padding: 15px 20px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    transition: .3s;
    font-size: 18px;
}
#login-button{
    background-color: var(--pink-color);
}
#signup-button{
    background-color: var(--violet-color);
}
#login-button:hover,
#find-tickets:hover{
    background-color: var(--pink-hover);
    box-shadow: 0px 0px 10px 0px rgba(255, 181, 238, .7);
}
#signup-button:hover{
    background-color: var(--violet-hover);
    box-shadow: 0px 0px 10px 0px rgba(198, 175, 238, .7);
}
#profile-buttons button,
#profile-button{
    background-color: var(--blue-color);
    cursor: pointer;

}
button{
    border: none;
    border-radius: 10px;
    font-size: 18px;
    transition: .3s;
}