#main-content{
    margin-top: 152px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
#user-info{
    padding: 20px 23px;
    border: 1px solid var(--text-color);
    border-radius: 10px;
}
#user-characteristics{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.user-characteristic{
    display: flex;
    gap: 10px;
    align-items: center;
}
.profile-characteristic-name,
.profile-characteristic-value{
    display: block;
    width: 150px;
    font-size: 20px;
    font-weight: 400;
    line-height: 23.66px;
}
#user-email{
    font-size: 20px;
    font-weight: 400;
    line-height: 23.66px;
    text-align: center;
    background-color: var(--violet-light);
    outline: none;
    border: none;
    border-radius: 10px;
    width: 250px;
    height: 40px;
}
#save-user-info{
    background-color: var(--pink-color);
    width: 150px;
    height: 60px;
    margin-top: 20px;
    cursor: pointer;
}
#save-user-info:hover{
    background-color: var(--pink-hover);
    box-shadow: 0px 0px 10px 0px rgba(255, 181, 238, .7);
}
#profile-passengers-info{
    width: 466px;
}
#passengers-buttons{
    display: flex;
    gap: 16px;
    height: 60px;
    margin-bottom: 28px;
    align-self: flex-start;
}
#profile-add-passenger{
    width: 60px;
    background-color: transparent;
    border: 1px solid var(--text-color);
    display: block;
    cursor: pointer;
}
#profile-add-passenger:hover{
    box-shadow: 0px 0px 10px 0px rgba(255, 181, 238, .7);
}
#open-passengers-list{
    width: 200px;
    background-color: var(--pink-color);
    cursor: pointer;
}
#open-passengers-list:hover{
    background-color: var(--pink-hover);
    box-shadow: 0px 0px 10px 0px rgba(255, 181, 238, .7);
}
#add-passenger-form,
.profile-passenger-info{
    position: relative;
    border: 1px solid var(--text-color);
    border-radius: 10px;
    padding: 17px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    /*box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .1);*/
}
#add-passenger-form{
    margin-bottom: 20px;
}
.passenger-characteristics{
    display: flex;
    flex-direction: column;
    gap: 11px;
}
.passenger-characteristic{
    display: flex;
    gap: 10px;
    align-items: center;
}
.passenger-characteristic > label,
.passenger-characteristic-name{
    display: block;
    width: 170px;
}
.passenger-characteristic > input,
.passenger-characteristic > select,
.passenger-characteristic-value{
    display: block;
    width: 250px;
    height: 40px;
    padding: 10px;
    background-color: var(--violet-light);
    border: none;
    outline: none;
    text-align: center;
    border-radius: 10px;
}
.passenger-characteristic-value{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.passenger-characteristic > select
{
    padding: 0;
}
.passenger-characteristic > input{
    width: 230px;
    height: 20px;
}
.passenger-characteristic > input,
.passenger-characteristic > select,
.passenger-characteristic > label,
.passenger-characteristic option,
.passenger-characteristic-name,
.passenger-characteristic-value{
    font-size: 20px;
    font-weight: 400;
    line-height: 23.66px;
}
#add-passenger-form > button{
    height: 45px;
    padding: 0 10px;
    background-color: var(--pink-color);
    cursor: pointer;
}
#add-passenger-form > button:hover{
    background-color: var(--pink-hover);
    box-shadow: 0px 0px 10px 0px rgba(255, 181, 238, .7);
    
}
#profile-passengers-list{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
    width: 764px;
    transform: translate(-20%, 0);
}
.passenger-characteristic-value{
    height: 22px;
    padding: 9px 0;
}
.delete-passenger-button{
    background-color: transparent;
    position: absolute;
    left: -50px;
}
#profile-add-passenger,
#add-passenger-form,
#profile-passengers-list{
    display: none;
}
.passenger-tickets .ticket-card{
    width: 730px;
}
.passenger-tickets{
    display: flex;
    flex-direction: column;
    gap: 20px;
    display: none;
}
.ticket-luggage-price > .luggage-not-included{
    font-size: 20px;
}
.toggle-tickets{
    cursor: pointer;
    background-color: var(--pink-light);
    padding: 15px 25px;
    border-radius: 10px;
    font-weight: 400;
    transition: .3s;
}
.toggle-tickets:hover{
    background-color: var(--pink-color);
    box-shadow: 0px 0px 10px 0px rgba(255, 181, 238, .7);
}