/*билеты*/
#tickets-list,
#admin-flights-list{
    margin-top: 72px;
    width: 730px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 30px;
}
.ticket-card{
    position: relative;
    height: 265px;
    background-color: var(--pink-light);
    border-radius: 10px;
    transition: .3s;
}
.ticket-airline{
    background-color: var(--violet-color);
    height: 39px;
    padding-left: 22px;
    padding-top: 18px;
    border-radius: 10px 10px 0 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 23.66px;
}
.ticket-time-info{
    margin-top: 7px;
    margin-left: 38px;
    display: flex;
    gap: 40px;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.29px;
    text-align: center;
}
.ticket-time{
    font-size: 24px;
    margin-top: 21px;
}
.ticket-city-date{
    font-size: 14px;
    margin-top: 11px;
}
.ticket-price-info{
    position: absolute;
    right: 22px;
    top: 75px;
}
.ticket-luggage-price,
.ticket-price{
    display: flex;
    gap: 33px;
    align-items: center;
}
.ticket-luggage-price > span,
.ticket-price > span{
    display: block;
    width: 56px;
    font-size: 24px;
    font-weight: 400;
    line-height: 28.39px;
}
.ticket-price-value{
    font-size: 36px;
    font-weight: 400;
    line-height: 42.59px;
    text-align: center;
    display: block;
    width: 120px;
}
.ticket-luggage-price > span{
    font-size: 20px;
}
.ticket-luggage-price > .ticket-price-value{
    font-size: 32px;
}
.buy-ticket,
.open-flight-info,
.cancel-ticket{
    position: absolute;
    right: 43px;
    bottom: 20px;
    width: 155px;
    height: 40px;
    background-color: var(--violet-light);
    padding: 8px;
    padding-bottom: 12px;
    cursor: pointer;
    text-align: center;
    border-radius: 10px;
    transition: .3s;
    font-size: 18px;
}
.cancel-ticket{
    padding: 4px;
    padding-top: 20px;
}
.buy-ticket:hover,
.open-flight-info:hover,
.cancel-ticket:hover{
    background-color: var(--violet-color);
    box-shadow: 0px 0px 10px 0px rgba(198, 175, 238, .7);
}
.plane-container{
    margin-top: 30px;
    opacity: .5;
}
.service-class-p{
    position: absolute;
    left: 30px;
    bottom: 30px;
    font-size: 20px;
}